body{
    background-color: #f2f2f2;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}
.nav-menu a{
    color: black;
    text-decoration: none;
}

.img-logo {
    width: 150px;
}

.content-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    height: 63px;
}

.form-search {
    margin-left: 20px;
    width: 300px !important;
}

.form-control{
    border: 1px solid #e4e6e8;
}

.form-control:focus {
    box-shadow: 0 0 0 0.06rem rgba(0,123,255,.25);
}

.input-group-text {
    font-size: .875rem;
    border: 1px solid #edf2f9;
    background-color: #f1f2f3;
    color: #53535f;
}

.login{
    display: none;
}

.icon-card{
    position: relative;
}

.number-card {
    position: absolute;
    top: -10px;
    right: -13px;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d11515;
    color: white;
}

@media screen and (min-width: 800px){
    .img-logo {
        width: 190px;
    }
}


 /* Mobile footer display menu */

.app-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 15;
}

.app-footer-items{
    background-color: white;
}

.modal-account {
    margin-top: 110px;
}

.close-button {
    padding: 0 !important;
    width: 25px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -13px;
    right: -10px;
    z-index: 20;
    background-color: white !important;
    opacity: 1;
}

.close-button:hover {
    opacity: 1 !important;
    color: red !important;
}

.text-close {
    margin-left: auto;
    margin-right: auto;
}

.close-button-bottom {
    float: right !important;
}




/* Phần sản phẩm nổi bật */
article {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    padding: 0 15px;
}

.img-product-top {
    height: 165px;
}

.top-product .add-card{
    height: 165px;
}


@media screen and (min-width: 1200px){
    article {
        padding: 0px;
    }
}




/*  slide show */
.carousel-item img{
    height: 420px;
}

@media screen and (max-width: 765px) {
    .carousel-item img{
        height: 250px;
    }
}


.contactListColumn {
    border-radius: 50px;
}


/*Phan gioi thieu*/
section{
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px 40px;
    background-color: white;
}
section img{
    width: 55px;
}

@media screen and (max-width: 765px) {
    section{
        margin: 30px 13px;
    }
    section img{
        width: 34px;
    }
}






/*  products  */

.menu-products {
    width: 100%;
    height: 200px;
    padding: 0 15px;
    margin-bottom: 20px ;
}

.products {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.img-product {
    height: 150px;
}

.content-product {
    background-color: white;
}

.card-header {
    background-color: #c30e43;
}

.card-body{
    border-radius: 5px;
}

.list-group a{
    text-decoration: none;
    color: black;
}

.card {
    border: none;
    
}

.products .card {
    box-shadow: 1px 1px 2px rgba(228, 228, 228, 0.918);
}

.card-product{
    position: relative;
}



.card-body{
    padding: 0.3rem 0.5rem 0.5rem;
    text-align: center;
}

.content-product a{
    text-decoration: none;
    color: black;
}

.content-product p{
    font-weight: 500;
    color: #c30e43;
}

.name-product {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-card {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.308);
    width: 100%;
    height: 150px;
    z-index: 7;
    top: 0;
    display: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}



.icon-cart i {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: #c30e43;
    font-size: 19px;
    transition: .5s linear;
}

.icon-cart i:hover {
    background-color: #c30e43;
    color: white;
    font-size: 21px;
}

.card-product:hover .add-card{
    display: block;
}


.sale {
    position: absolute;
    top: 5px;
    z-index: 3;
    padding: 0px 10px;
    background-color: #c30e43;
    color: white;
    font-weight: 600;
    display: inline;
    font-size: 15px;
    border-radius: 3px;
}

.sale-text {
    left: 5px;
}

.sale-number {
    right: 5px;
}



@media screen and (min-width: 900px){
    .menu-products {
        width: 17%;
        padding: 0;
    }

    .products {
        width: 83%;
        padding-right: 0px;
    }
}